<div class="booking-fields">
  <div class="form-row">
    <%= form.fields_for :ticket_booking, @booking do |f| %>
      <div class="form-group">
        <%= f.label :day, "Day:" %>
        <% mon = (@ticket.week_date.beginning_of_week).strftime("%a, %d %b %Y") %>
        <% tue = (@ticket.week_date.beginning_of_week + 1).strftime("%a, %d %b %Y") %>
        <% wed = (@ticket.week_date.beginning_of_week + 2).strftime("%a, %d %b %Y") %>
        <% thu = (@ticket.week_date.beginning_of_week + 3).strftime("%a, %d %b %Y") %>
        <% fri = (@ticket.week_date.beginning_of_week + 4).strftime("%a, %d %b %Y") %>
        <% sat = (@ticket.week_date.beginning_of_week + 5).strftime("%a, %d %b %Y") %>
        <% sun = (@ticket.week_date.beginning_of_week + 6).strftime("%a, %d %b %Y") %>
        <%= f.select :day, options_for_select([mon, tue, wed, thu, fri, sat, sun]), {}, class: "form-control custom-select" %>
      </div>
      <div class="form-group">
        <%= f.label :time, "Time:" %>
        <%= f.select :time_hours, options_for_select((1..24).map { |hour| [hour.to_s.rjust(2, '0'), hour] }), {}, class: "form-control custom-select" %>
        <%= f.select :time_minutes, options_for_select((0..59).map { |minute| [minute.to_s.rjust(2, '0'), minute] }), {}, class: "form-control custom-select" %>
      </div>
      <div class="form-group">
        <%= f.label :journey_location, "Journey From To:" %>
        <%= f.text_field :journey_location, class: "form-control", style: "width: 100%;" %>
      </div>
      <div class="form-group">
        <%= f.label :seat_number, "Seat Number:" %>
        <%= f.text_field :seat_number, class: "form-control", style: "width: 100%;" %>
      </div>
      <div class="form-group">
        <%= form.submit "Create Booking", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
<style type="text/css">
  .booking-fields {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.control-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="%23707070" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>') no-repeat right 10px center/12px;
  padding-right: 30px;
}

.btn {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

</style>