<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Created</title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .email-container {
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
<%#       height: 100vh; %>
      height: auto;
    }

    .ticket-container {
      max-width: 600px;
      width: 100%;
      background-color: #fff;
      border: 3px solid cyan;
<%#       border: 2px solid #007bff; %>
      border-radius: 10px;
      padding: 20px;
      text-align: left;
    }

    h4 {
      color: lightblue;
    }

    strong {
      color: lightblue;
      display: block;
      margin-top: 10px;
    }

    p {
      margin: 20px 0;
    }

    .owe-summary {
      margin-top: 20px;
    }

    .owe-summary strong {
      display: inline-block;
      margin-top: 5px;
    }
     .footer-bold{
<%#       color: #f58754; %>
      color: cyan;
    }
  </style>
</head>
<body>
  <div class="email-container">
    <div class="ticket-container">
      <h4>A new payment is done on: <%="#{@payment.date}"%></h4>
      <p>
        <strong>Paid by:</strong> <%= @payment_by.name %> (<%= @payment_by.email %>)<br>
        <strong>Paid to:</strong> <%= @payment_to.name %> (<%= @payment_to.email %>)<br>
        <strong>Amount Paid:</strong> ₹<%= @payment.amount %><br>
        <strong>Payment Date:</strong> <%= @payment.date.strftime("%a, %d %b %Y") %>
      </p>
      <%if @owe_summary.present? %>
      <div class="owe-summary">
        <strong>Owe Summary:</strong><br>
        <% @owe_summary.each do |user_id, amount| %>
          <% user = User.find(user_id) %>
          <%if amount > 0%>
          <span><b style="color: cyan;"><%= "#{user.name}"%></b> has to pay <b style="color: cyan;"> <%= @current_user.name %> </b> ₹<%= "#{amount}." %></span><br>
          <%else%>
            <span><b style="color: cyan;"> <%= @current_user.name %> </b> have to pay <b style="color: cyan;"> <%= "#{user.name}"%></b>  ₹<%= "#{ amount.abs }."%></span><br>
          <%end%>
        <% end %>
      </div>
      <%end%>
    </div>
  </div>
  <footer>
      <p style="color: #0a0a2a; font-size: 0.6em;">Bus Ticket Manager | Developed By: <b class="footer-bold">Yash Sharma</b></p>
  </footer>
</body>
</html>
