<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

<style>
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
  }

  #owe-summary {
    margin-top: 20px;
  }

  .owe-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
  }

  .user-name {
    font-weight: bold;
    margin-right: 10px;
  }

  .amount {
    color: green;
  }

  .zero {
    background-color: #e0e0e0;
    color: #555;
  }

  .btn-container {
    text-align: center;
    margin-top: 20px;
  }

  .btn {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    text-decoration: none;
    background-color: lightblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: lightcyan;
  }

  .recent-payment {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
  }
    h3{
      text-align: center;
   font-weight: 150x;
   margin-bottom: 10px;
   font-size: 25px;
   position: relative;
<%#    -webkit-text-stroke: 1px #3E6469; %>
   color: lightseagreen;
  }

  h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: lightblue;
    transition: all ease 1s;
  } 
</style>

<div id="owe-summary">
  <h3 style="margin-bottom: 10px">Hey! <%= current_user.name%></h3>
  <% if @owe_summary.present? %>
    <% @owe_summary.each do |user_id, amount| %>
      <% user = User.find(user_id) %>
      <div class="owe-item <%= amount > 0 ? 'positive' : 'negative' %>">
        <span class="amount">
          <% if amount > 0 %>
           <%# <span class="user-name"></span> %>
           <b><%= user.name %></b>
            has to pay <b>You</b> <i style="color: red; font-size: 15px; font-family: Montserrat, sans-serif;"> ₹<%= amount.abs %>.</i>
          <% else %>
            <%# <span class="user-name"> You </span> %>
            <b> You </b> have to pay <b><%= user.name %></b> <i style="color: red; font-size: 15px; font-family: Montserrat, sans-serif;">₹<%= amount.abs %>.</i>
          <% end %>
        </span>
      </div>
    <% end %>
  <% else %>
    <div class="owe-item zero">
      <span class="amount">You don't have to pay or take anything from anyone.</span>
    </div>
  <% end %>
</div>


<div class="btn-container">
  <%= link_to 'Add New Ticket Entry', new_ticket_path, class: 'btn' %>
  <%= link_to 'Show Previous Tickets', tickets_path, class: 'btn' %>
  <%= link_to 'Add Payment', new_payment_path, class: 'btn' %>
  <%= link_to 'Show Previous Payments', payments_path, class: 'btn' %>
</div>

<div class="recent-payment <%= @payment.present? ? 'positive' : 'zero' %>">
  <% if @payment.present? %>
    Recently <b><%= @payment.paid_by.name %></b> paid ₹<%= @payment.amount %> to <b><%= @payment.paid_to.name %></b> on <%= @payment.date %>
  <% else %>
    No recent payments.
  <% end %>
</div>
