<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

<style>
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
  }

  #owe-summary {
    margin-top: 20px;
  }

  .owe-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
  }

  .user-name {
    font-weight: bold;
    margin-right: 10px;
  }

  .amount {
    color: green;
  }

  .zero {
    background-color: #e0e0e0;
    color: #555;
  }

  .btn-container {
    text-align: center;
    margin-top: 20px;
  }

  .btn {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    text-decoration: none;
    background-color: lightblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: lightcyan;
  }

  .recent-payment {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
  }

</style>

<div id="owe-summary">
  <% if @owe_summary.present? %>
    <% @owe_summary.each do |user, amount| %>
      <div class="owe-item <%= amount > 0 ? 'positive' : 'zero' %>">
        <span class="user-name"><%= user.name %></span>
        <span class="amount">
          <% if amount > 0 %>
          has to pay ₹<%= amount %>.
          <% else %>
          has not to pay any amount currently.
          <% end %>
        </span>
      </div>
    <% end %>
  <% else %>
    <div class="owe-item zero">
      <span class="amount">No one has to pay any amount currently.</span>
    </div>
  <% end %>
</div>

<div class="btn-container">
  <%= link_to 'Add New Ticket Entry', new_ticket_path, class: 'btn' %>
  <%= link_to 'Show Previous Tickets', tickets_path, class: 'btn' %>
  <%= link_to 'Add Payment', new_payment_path, class: 'btn' %>
  <%= link_to 'Show Previous Payments', payments_path, class: 'btn' %>
</div>

<div class="recent-payment <%= @payment.present? ? 'positive' : 'zero' %>">
  <% if @payment.present? %>
    Recently <%= @payment.paid_by.name %> paid <%= @payment.amount %> to <%= @payment.paid_to.name %> on <%= @payment.date %>
  <% else %>
    No recent payments.
  <% end %>
</div>
