<!-- app/views/ticket_mailer/ticket_created_email.html.erb -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Created</title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .email-container {
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
    }

    .ticket-container {
      max-width: 600px;
      width: 100%;
      background-color: #fff;
      border: 3px solid cyan;
<%#       border: 2px solid #007bff; %>
      border-radius: 10px;
      padding: 20px;
      text-align: left;
    }

    h4 {
      color: lightblue;
<%#       color: #007bff; %>
    }

    strong {
      color: lightblue;
<%#       color: #007bff; %>
      display: block;
      margin-top: 10px;
    }

    p {
      margin: 20px 0;
    }

    .owe-summary {
      margin-top: 20px;
    }

    .owe-summary strong {
      display: inline-block;
      margin-top: 5px;
    }
    .footer-bold{
      color: cyan;
    }
  </style>
</head>
<body>
  <div class="email-container">
    <div class="ticket-container">
      <h4>Your ticket details of week from: <%="#{@ticket.week_date.beginning_of_week} to #{@ticket.week_date.end_of_week}"%></h4>
      <p>
        <strong>Booked By:</strong> <%= @user_booked_by.name %> (<%= @user_booked_by.email %>)<br>
        <strong>Booked For:</strong> <%= @user_booked_for.name %> (<%= @user_booked_for.email %>)<br>
        <strong>Number of Tickets Booked:</strong> <%= @ticket.booked_count %><br>
        <strong>Per Ticket Price:</strong> ₹<%= @ticket.price_per_ticket %><br>
        <strong>Extra Charges:</strong> ₹<%= @ticket.extra_charges %><br>
        <strong>Booking Date:</strong> <%= @ticket.week_date.strftime("%a, %d %b %Y") %>
        <strong>Week Year of Booking:</strong> Week <%= @ticket.week_number%> of <%= @ticket.year%>
      </p>

      <div class="owe-summary">
        <strong>Owe Summary:</strong><br>
        <% @owe_summary.each do |user, amount| %>
          <%if amount > 0%>
          <span><b style="color: cyan;"><%= "#{user.name}"%></b> has to pay  ₹<%= "#{amount}." %></span><br>
          <%else%>
            <span><b style="color: cyan;"><%= "#{user.name}"%></b> has not to pay any amount currently.</span><br>
          <%end%>
        <% end %>
      </div>
      <strong>Recent Payments:</strong>
      Recently <%= @payment.paid_by.name %> paid ₹<%= @payment.amount %> to <%= @payment.paid_to.name %>  on <%= @payment.date %>
    </div>
  </div>
  <footer>
      <p style="color: #0a0a2a; font-size: 0.6em;">Bus Ticket Manager | Developed By: <b class="footer-bold">Yash Sharma</b></p>
  </footer>
</body>
</html>
