<!-- app/views/payments/_form.html.erb -->
<style>
  .form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }

  #error_explanation {
    color: #dc3545;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px; /* Adjust the top margin as needed */
    font-size: 16px;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-secondary {
    background-color: lightblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  .custom-add-to-cart-btn {
    background-color: #808080 !important;
    height: 35px; 
    border-radius: 5px !important; 
  }
  .custom-add-to-cart-btn:hover {
    height: 35px;
    background-color: lightblue;
    color: white; 
    border-color: black;
  }
</style>

<%= form_with(model: payment, local: true) do |form| %>
  <div class="form-container">
    <% if payment.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h4><%= pluralize(payment.errors.count, "error") %> prohibited this ticket from being saved:</h4>

        <ul>
          <% payment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :paid_by, 'Select payment by', class: 'form-label' %>
      <%= form.collection_select :paid_by_id, User.all, :id, :name, prompt: 'Select paid by user', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :paid_to, 'Select payment to', class: 'form-label' %>
      <%= form.collection_select :paid_to_id, User.all, :id, :name, prompt: 'Select paid to user', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :amount, 'Amount', class: 'form-label' %>
      <%= form.number_field :amount, class: 'form-control', placeholder: 'Amount' %>
    </div>

    <div class="form-group">
      <%= form.label :date, 'Date of payment', class: 'form-label' %>
      <%= form.date_field :date, class: 'form-control', placeholder: 'Week date' %>
    </div>

    <div class="actions">
      <%= form.submit 'Create Payment', class: "btn btn-outline-light btn-block mt-3 custom-add-to-cart-btn" %>
      <%= link_to 'Cancel', payments_path, class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
