<!DOCTYPE html>
<html lang="en">

<head>
  <title>BusTicketManager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js' %>

  <style type="text/css">
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
      color: #333;
      padding-bottom: 150px;
    }

    header {
      background-color: lightblue; /* Updated header color to a shade of blue */
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #a2a2a2;
      border-radius: 5px;
      top: 0;
      width: 100%;
      z-index: 10000;
      padding: 10px;
    }

    .logo img {
      max-height: 50px;
      margin: 0 10px;
    }

    .logo a {
      color: white;
      font-family: Trebuchet MS;
      font-size: 23px;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    .logo a:hover {
      color: lightcyan;
    }

    footer {
      background-color: #343a40;
      color: #fff;
      text-align: center;
      padding: 20px;
      position: fixed;
       padding: 8px;
      bottom: 0;
      width: 100%;
      display: none; 
    }

    .footer-logo img {
      max-height: 70px;
    }

    .footer-content {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
    }

    .footer-logo a {
      color: #fff;
      font-family: Trebuchet MS;
      font-size: 23px;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    .footer-logo a:hover {
      color: lightcyan;
    }

    .footer-info {
      text-align: right;
    }

    .home-content {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var footer = document.querySelector('footer');
      footer.style.display = 'block'; // Display the footer after the content is loaded
    });
  </script>
</head>

<body>
  <header>
    <div class="logo">
      <a class="brand navbar-brand" href= "">
        <img src="<%= image_path('black_logo.png') %>" alt=""><b>Ticket Management System</b>

        <%# <img src="/assets/black_logo.png" alt=""><b>Ticket Management System</b> %>
      </a>
    </div>
    <%if current_user.present?%>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete,class: "dropdownbutton-nav btn btn-outline-light btn-md px-5" %>
    <%end%>
  </header>
  <%= yield %>
  <footer>
    <div class="footer-content">
      <div class="footer-logo">
        <a class="brand navbar-brand" href="http://localhost:3000/">
          <img src="<%= image_path('white_logo.png') %>" alt="">
        </a>
      </div>
      <div class="footer-info">
        <p style="color: lightblue;">For Queries Mail Us At: yashsharma0787@gmail.com</p>
        <p style="color: lightblue;">Quick Links: <a href="/admin" style="margin-right: 5px; margin-left: 2px;">Admin Panel</a> <a href="/" style="margin-right: 5px; margin-left: 2px;">Home</a>  <a href="/tickets" style="margin-right: 5px;">Tickets</a>  <a href="/payments" style="margin-right: 0px;">Payments</a></p>
      </div>
    </div>
  </footer>
</body>

</html>
